name: Merge PR changes to branch

on:
  pull_request_target:
    types: [opened, reopened, synchronize]
    branches:
      - main

jobs:
  merge-changes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout target branch
        uses: actions/checkout@v2
        with:
          ref: nctp

      - name: Create new branch
        run: |
          git checkout -b nctp
          git push -u origin nctp

      - name: Fetch PR changes
        run: |
          git fetch origin pull/${{ github.event.number }}/head:pr
          git checkout pr

      - name: Merge changes into new branch
        run: |
          git checkout nctp
          git merge pr --no-commit

      - name: Push changes to new branch
        run: git push origin nctp
